{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "useTabs": true,
        "tabWidth": 4
      }
    },
    {
      "files": "*.{json,json5,yml,yaml,md,toml}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 80
      }
    }
  ]
}
