[Desktop Entry]
Name=Plato
Comment=Document reader for e-ink devices
Exec=plato %F
Icon=plato
Type=Application
Categories=Office;Viewer;
MimeType=application/pdf;application/epub+zip;application/x-cbz;application/x-cbr;image/vnd.djvu;
Terminal=false
StartupNotify=true
