#!/usr/bin/make -f

export DH_VERBOSE = 1
export CARGO_HOME = $(CURDIR)/debian/cargo
export RUSTFLAGS = -C opt-level=3 --cap-lints allow

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
    CARGO_TARGET = --target $(DEB_HOST_GNU_TYPE)
endif

%:
	dh $@ --buildsystem=none

override_dh_auto_clean:
	rm -rf $(CARGO_HOME)
	cargo clean

override_dh_auto_build:
	mkdir -p $(CARGO_HOME)
	cargo build --release --package plato --target x86_64-unknown-linux-gnu

override_dh_auto_install:
	install -D -m 755 target/x86_64-unknown-linux-gnu/release/plato debian/plato/usr/bin/plato
	install -D -m 644 debian/plato.desktop debian/plato/usr/share/applications/plato.desktop
	install -D -m 644 icons/plato.svg debian/plato/usr/share/icons/hicolor/scalable/apps/plato.svg
	cp -r fonts debian/plato/usr/share/plato/
	cp -r css debian/plato/usr/share/plato/
	cp -r icons debian/plato/usr/share/plato/
	cp -r keyboard-layouts debian/plato/usr/share/plato/
	cp -r translations debian/plato/usr/share/plato/

override_dh_auto_test:
	cargo test --release --target x86_64-unknown-linux-gnu
